<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security-4.1.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd">

	<!-- Add support for component scanning -->
	<context:component-scan base-package="by.lifetech.ishop" />

	<!-- Add support for conversion, formatting and validation support -->
	<mvc:annotation-driven/>

	<!-- Define Spring MVC view resolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

    <!-- Define Database DataSource / connection pool -->
	<bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1/ishop?useSSL=false&amp;serverTimezone=UTC" />
        <property name="user" value="root" />
        <property name="password" value="12345678" /> 

        <!-- these are connection pool properties for C3P0 -->
        <property name="minPoolSize" value="5" />
        <property name="maxPoolSize" value="20" />
        <property name="maxIdleTime" value="30000" />
	</bean>  
	
    <!-- Setup Hibernate session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="packagesToScan" value="by.lifetech.ishop.entity" />
		<property name="hibernateProperties">
		   <props>
		      <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
		      <prop key="hibernate.show_sql">true</prop>
		   </props>
		</property>
   </bean>	  

    <!-- Setup Hibernate transaction manager -->
	<bean id="myTransactionManager"
            class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- Enable configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="myTransactionManager" />

	<!-- Add support for reading web resources: css, images, js, etc ... -->
	<mvc:resources location="/resources/" mapping="/resources/**"></mvc:resources>
	
	
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!--need to use ' /** ' not ' /* ' if you want to intercept all requests.-->
            <!--<mvc:mapping path="/**"/>-->
            <bean class="by.lifetech.ishop.controller.AppInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    
    <bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />
    
    <bean id="encoder"
  		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	</bean>

    
    <security:http auto-config="true" use-expressions="false">
		
		<security:form-login login-page="/login" login-processing-url="/login" 
			username-parameter="username" 
			password-parameter="password"
			default-target-url="/showMain"
			always-use-default-target="true"
			authentication-failure-url="/login?login=fail"/>	
	 	<security:intercept-url pattern="/addReview" access="ROLE_USER, ROLE_ADMIN" /> 
	 	<security:intercept-url pattern="/**" access="ROLE_USER, ROLE_ADMIN, ROLE_ANONYMOUS" />
	 	
	 	<security:logout logout-url="/perform_logout" logout-success-url="/showMain"/>
	 	<security:http-basic />
		
	</security:http>
	
	
	
	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="user" password="password" authorities="ROLE_USER" />
			</security:user-service>
		</security:authentication-provider>
		
		<!-- authentication from database -->
        <security:authentication-provider>
            <security:jdbc-user-service data-source-ref="myDataSource"
                users-by-username-query="select login as username, password, 1 as enabled from users where login=?"
                authorities-by-username-query="Select u.login as username, concat('ROLE_',UPPER(r.description)) as user_role from users u join roles r on u.ROLE_ID = r.ID  where u.login=?" />
                <security:password-encoder ref="encoder" />
        </security:authentication-provider>
		
	</security:authentication-manager>
	
	
</beans>











